@font-face {
font-family: Chunkfive;
font-weight: bold;
src: url("../fonts/Chunkfive.otf") format("opentype");
}
@font-face {
font-family: Junction;
font-weight: bold;
src: url("../fonts/Junction.otf") format("opentype");
}
