.presentation-section{
  background-color: $dark;
  font-family: "Chunkfive";

}

.presentation-timer{
  color: $light;
  font-size: 3.5rem;
  float: right;
  display: inline-block;
}

.btn-done {
  background-color: $blue;
  color: #fff;
  &:hover {
        color:#fff;
    }
}

.btn-reload {
  background-color: $red;
  color: #fff;
}

.presentation-iframe{
  text-align: center;
  width: 100%;
  height: 80vh;
  border: 0px;
}
