.new-section{
    background-color: $dark;
    font-family: "Chunkfive";
    font-size: 3rem;
    text-align: center;
    height: 600px;
    width: 100%;
    color: $dark;

    h1 {
      font-size: 7rem;
      font-family: "Chunkfive";
      color: $yellow;
    }
}
